
:root {
  --bg-color: #ffffff;
  --text-color: #000000;
  
}

[data-theme="dark"] {
  --bg-color: #454343;
  --text-color: #ffffff;
}
.btn{
width: 30px;
border: 2px solid var(--text-color);
padding:5px;
position: fixed;
right: 0;
background:var(--bg-color);
z-index:99999;
}