
:root {
  --bg-color: #ffffff;
  --text-color: #000000;
  --bg-card:#ffffff;
}

[data-theme="dark"] {
  --bg-color: #454343;
  --text-color: #ffffff;
  --bg-card:#b7b5b5;
}
.btn{
width: 30px;
border: 2px solid var(--text-color);
padding:5px;
position: fixed;
right: 0;
background:var(--bg-color);
z-index:99999;
}


@media screen and (max-width:800px) {
 .btn{
position: absolute;
 }
}
