:root {
  font-family:  "Turret Road", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --corDoFundo:  #282728;
  --corDaFonte:  #fff;
  --corDaFonteHover:  #4a4b4b;
  background:var(--corDoFundo);
}

a {
  font-weight: 500;
  color: var(--corDaFonte);
  text-decoration: inherit;
}
a:hover {
  color:var(--corDaFonteHover);
}

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


