:root {
  font-family: "Turret Road", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --cinza: #808080;
  --cinzaMedio: #696969;
  --cinzaEscuro: #333333;
  --roxo: #a020f0;
  --roxoIntenso: #8b008b;
  --roxoPadrao: #800080;
  --corDaFonte: #fff;
  --corDaFonteHover: #4a4b4b;
  background: var(--cinza);
}
h1 {
  text-shadow: -2px 2px 4px black;
}
p {
  font-weight: bold;
  letter-spacing: 1px;
}
a {
  font-weight: 500;
  color: var(--corDaFonte);
  text-decoration: inherit;
}
a:hover {
  color: var(--corDaFonteHover);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
